header{
    text-align: center;
    height:10%;
    
}
.welkomstwoordtitel{
 font-size: 2.5vw;
}
.welkomstwoordtekst{
    font-size: 2.5vw;
    display: block;
}

.welkomstwoord{
    padding-bottom:2vw;
}
.taken{
    background-color: #0ff;
}
.mid{
    
    position: relative;
    padding-top:0.5vw;
    left: 5%;
    width: 75%;
    padding-bottom:2vw;
    margin-left:7vw;
    margin-right:7vw;


}

.menu {
  position: fixed;
  left: 0;
  right: 10%;
  top: 50%;
  width: 2em;
  margin-top: -2.5em;
  
}
.taken{
    background-color: blue;
}