body{
    background-color: #f2f8fd;
}
header{
    text-align: center;
    height:10%;
    
}

.titel{
    font-family: 'Raleway', cursive;
    font-size: 52px;
    margin-top: 1%;
}

.mid{
    
    position: relative;
    padding-top:0.5vw;
    left: 5%;
    width: 75%;
    padding-bottom:2vw;
    margin-left:7vw;
    margin-right:7vw;


}

.menu {
  position: fixed;
  left: 0;
  right: 10%;
  top: 50%;
  width: 2em;
  margin-top: -2.5em;
  
}
.taken{
    background-color: blue;
}
.sidetile{
    position: absolute;
    top:0.5%;
    right:0;
    height:500%;
    }
